{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

{% comment %} code block goes here {% endcomment %}
    <div class="pl0 ml0 center mw6 ba b--light-red br2 light-red">
        <div class="flex item-center justify-center">
            <h1>Your Recipe</h1>
        </div>
        <form action="{% url 'home' %}" method="POST">

            {% csrf_token %}

        <fieldset class="b--light-red">
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" class="light-red bg-washed-yellow b--light-red" value="Name of the recipe" >
        </fieldset>

        <fieldset class="b--light-red">
            <label for="ingredient">Ingredients: </label>
            <input id="ingredient" type="textarea" name="ingredient"  class="light-red bg-washed-yellow b--light-red" value="ingredients?">
        </fieldset>

        <fieldset class="b--light-red">
            <label for="instruction">Instructions: </label>
            <input id="instruction" type="textarea" name="instruction" class="light-red bg-washed-yellow b--light-red" value="Instructions?">
        </fieldset>

        <fieldset class="b--light-red">
            <label for="servings">Servings: </label>
            <input id="servings" type="number" name="servings"  class="light-red bg-washed-yellow b--light-red">
        </fieldset>

            {% comment %} <form action="{% url 'ingredient_list' %}" method='POST'>
                {% csrf_token %} 
                <h3 for="ingredient">Ingredients: </h3>
                {% for ingredient in ingredients %}
                    <a href="{% url 'ingredient_details' ingredient.id %}">{{ ingredient.name }}: {{ ingredient.quantity }} {{ingredient.measurement}}</a>
                {% endfor %}
                <label for="ingredient">Name: </label>
                <input id="ingredient_name" type="text" name="ingredient_name" value={{ ingredient.name }}>
                </br>
                <label for="ingredient">Quantity: </label>
                <input id="ingredient_quantity" type="number" name="ingredient_quantity" value={{ ingredient.quantity }}>
                </br>
                <label for="ingredient">Measurement: </label>
                <input id="ingredient_measurement" type="text" name="ingredient_measurement" value={{ ingredient.measurement }}>
                <input type="submit" value="Add ingredient" />
            </form>  {% endcomment %}

            <div class="flex items-center justify-center">
                <input type="submit" value="Submit" class="f5 no-underline black bg-animate hover-bg-light-blue hover-light-red inline-flex items-center pa3 ba border-box mr4 bg-washed-yellow light-red b--light-red"/>
            </div>
        </form>
    </div>


{% endblock %}