{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

{% comment %} code block goes here {% endcomment %}
    <h1>Edit This Recipe</h1>

    <form action="{% url 'recipe_details' recipe.id %}" method="POST">

        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value={{ recipe.name }}>
        </fieldset>

        <fieldset>
            <label for="instruction">Instructions: </label>
            <input id="instruction" type="text" name="instruction" value={{ recipe.instruction }}>
        </fieldset>

        <fieldset>
            <label for="servings">Servings: </label>
            <input id="servings" type="number" name="servings" value={{ recipe.servings }}>
        </fieldset>

        <fieldset>
            <label for="ingredient">Ingredients: </label>
            <input id="ingredient" type="text" name="ingredient" value={{ recipe.ingredient }}>
        </fieldset>

        {% comment %} <form action="{% url 'ingredient_list' %}" method='POST'>
            {% csrf_token %} 
            <h3 for="ingredient">Ingredients: </h3>
            {% for ingredient in ingredients %}
                <a href="{% url 'ingredient_details' ingredient.id %}">{{ ingredient.name }}: {{ ingredient.quantity }} {{ingredient.measurement}}</a>
            {% endfor %}
            <label for="ingredient">Name: </label>
            <input id="ingredient_name" type="text" name="ingredient_name" value={{ ingredient.name }}>
            </br>
            <label for="ingredient">Quantity: </label>
            <input id="ingredient_quantity" type="number" name="ingredient_quantity" value={{ ingredient.quantity }}>
            </br>
            <label for="ingredient">Measurement: </label>
            <input id="ingredient_measurement" type="text" name="ingredient_measurement" value={{ ingredient.measurement }}>
            <input type="submit" value="Add ingredient" />
        </form>  {% endcomment %}

        <input type="hidden" name="actual_method" value='PUT'>
        <input type="submit" value="Edit" />

    </form>


{% endblock %}