{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

{% comment %} code block goes here {% endcomment %}
<article class="pa1 pa1-ns">
<h1 class="f4 bold tc center mw6">Contributors</h1>

<ol class="list pl0 ml0 center mw6 ba b--light-silver br2">
{% for member in members %}
    <li class="ph3 pv3 bb b--light-silver">
        <p><a href="{% url 'member_details' member.id %}"> {{ member.username }} </a></p>
        <p>Name: {{ member.firstName }} {{ member.lastName }}</p>
        <p>Email: {{ member.email }}</p>
    </li>
{% endfor %}

{% endblock %}